html , body { 
    margin: 0;
    padding: 0;
}

footer { 
    background-color: #FA641A;
     width: 100%;
     display: flex;
     flex-direction: row;
     align-items: center;
      height: 50px;
      margin-top: 70px;

 }
 footer div {  /*  this div used to  align the media icon on the right */ 
    width: 85%;
   }
   
 footer i { 
     font-size:22px;
    color:  #e92e06; 
    margin:5px;
    margin-left:20px;
}